<% provide(:resourcespage_active, 'active') %>
<h1>Resources page</h1>

<p>Welcome to the resources page.</p>

<p>The home page of TheMusicBase is where you can access a variety of different posts!</p>
<p>However, if the page seems all too overwhelming, that's no problem.</p>
<p>Here are some links to individual playlists you might want to see:</p>

<%=link_to 'Movie Soundtracks', post_path(20) %> <p>This playlist contains many fan favourite movie soundtracks. Check to see if yours is featured!</p>
<p></p>
<%=link_to 'Video Game Original Soundtracks', post_path(19) %> <p>Video game soundtracks are often vastly underrated. Click to link above to see why.</p>
<p></p>
<%=link_to 'An Ethereal Mix', post_path(18) %> <p>There's a reason this mix is called Ethereal.</p>
<p></p>
<%=link_to 'The Best of Daft Punk', post_path(17) %> <p>People usually view Daft Punk as 2 strange guys dressed in robot costumes. However, there's alot more to it than that...
<p></p>
<%=link_to 'A Classics Tribute Mix', post_path(14) %> <p>This playlist features iconic masterpieces and musical treasures. What more is there to say?
<p></p>
<%=link_to 'Nevermind by Nirvana', post_path(13) %> <p>Responsible for bringing alt rock, grunge and teen angst into the mainstream- this album definitely had a big impact. </p>



<p></p>
<h1>Not what you're looking for? No problem</h1>
<p>There's other stuff here too you know...<p>
<%= link_to 'Contact page', contact_path %>
<p>Feel free to contact me about adding new songs or playlists, i'm open to suggestions!</p>
<p></p>
<%= link_to 'About page', about_path %>
<p></p>
<p>Still confused what this site is about? Check the about page by clicking the link above.</p>
<p></p>
<%= link_to 'TheBase', root_path %>
<p></p>
<p>And finally, if you're feeling confident enough to navigate the different playlists on you're own- here's the home page. Good luck!.</p>
