<% provide(:page_title, @post.title) %>
<% provide(:author, 'active') %>

<div>
  <%= link_to 'Edit', edit_author_post_path(@post), class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Remove', author_post_path(@post), method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')",
    class: 'btn btn-sm btn-danger' %>
</div>

<div class="row">
  <div class ="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @post.title %></h1>
    <p><%= @post.published_date %></p>
    <%= @post.body %>
  </div>
</div>
